@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime

<footer>
    <div>
        <img style="cursor:pointer" @onclick="@(() => NavManager.NavigateTo("/leaderboard", false))" src="images/misc/leaderboard_icon.png" />
    </div>
    <div>
        <a href="https://github.com/omni-/DokkanDaily"><img src="images/misc/github.png" /></a>
    </div>
    <div>
        <a href="https://discord.gg/2D426TZtfK"><img src="images/misc/discord.png" /></a>
    </div>
    <p>Time until challenge resets: @hoursToReset hour(s)</p>
    <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <Authorized>
                <button @onclick=OnClick>Log out</button>
            </Authorized>
            <NotAuthorized>
                <button @onclick="@(()=>NavManager.NavigateTo("/auth", true))">Login</button>
            </NotAuthorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
</footer>

@code {
    int hoursToReset => 24 - DateTime.UtcNow.Hour;

    void OnClick()
    {
        JSRuntime.InvokeVoidAsync("open", $"{NavManager.BaseUri}deauth", "_blank");
        NavManager.NavigateTo("/daily", true);
    }
}
