.dokkan-link-wrapper {
    align-items: center;
    align-self: center;
    overflow: auto;
    width:250px;
    margin: 0 auto;
}

.dokkan-link .text {
    flex: 1 0;
    text-align: center;
    font-family: 'FOT-NewRodin ProN', inherit
}

.clear-box {
    position: fixed;
    margin-top:3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em .5em 1em .5em;
    background-color: #EFCFA7;
    border: solid;
    width:60%;
    height:70%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

footer > p {
    color: white;
    align-content: flex-start;
}

footer > div {
    align-self: flex-end;
    padding-bottom:.75em;
    padding-right:.5em;
}

.challenge-text img {
    width: auto;
    height: 3em;
    margin-top: .5em;
}

button {
    font-family: 'FOT-NewRodin ProN', inherit
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
    height: auto;
    display: inline-flex;
    margin: 1% 1% 1% 1%
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
