.leaderboard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em .5em 1em .5em;
    background-color: #EFCFA7;
    border: solid;
    text-align: left;
    width: 470px;
    overflow-y: scroll;
    max-height: 70vh;
    max-width:80vw;
}

.arrow {
    margin-top: 1vh;
    cursor: pointer;
}

.note {
    font-size: x-small;
    font-style: italic;
}

@media(max-width: 420px) {
    h3 {
        font-size: larger;
    }
}